@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');



body{
    background-color: aliceblue;
}
.container{
    width: 100vw;
    height: 100vh;  
    font-family: 'Lato', sans-serif;
}

#sidebar-list{
    list-style-type: none;
    padding: 0px;
}
#sidebar-list>.sidebar-text{
    padding: 5px;
    font-weight: 700;
    cursor: pointer;
}
#sidebar-list>.sidebar-text>i{
    margin-right: 20px;
}

#sidebar-list>.sidebar-text:hover{
    background-color: rgb(101, 130, 155);
    color: whitesmoke;
}
.top-content{
    display: flex;
    justify-content: space-between;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 10px;
  }

.btn-outline-primary{
    border-radius: 5px;
    width: 100px;
    height: 35px;
}
.student-landing-container{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
}

.fa-user-graduate {
    font-size: 2rem;
    color: #e5e9ee;
  }
  .navbar-brand > h2{
    color: #ccc;
    margin-left: 10px;
  }
 

